.box.ads-list
  .name
    %a{ :href => 'http://www.chizmiza.com?smalllink', :target => '_blank' } www.chizmiza.com
  -title = ['help','money','buy'].sample
  -if title == 'help'
    %h3 چیزی که شما نمیخواهید،
    %h6 راه گشای دیگری است!
  -elsif title == 'money'
    %h3 چیز جدیدی خریدید؟
    %h6 قبلی رو پول کنید!
  -elsif title == 'buy'
    %h3 قیمت نوش گرونه؟
    %h6 چرا قدیمیشو نخری؟
  .row-fluid
    - imgs = [1,2,3,4,5,6].sample(3)
    - imgs = [4,5,6]
    - if imgs.include? 1
      %a.ads-image{ :href => "http://www.chizmiza.com?mobile&#{title}", :target => '_blank' }
        %img{ :src => "/images/chizmiz1.jpg" }
        %span 
          %b در حد نو
          %br
          ١٥٠٠٠٠٠ تومان.  مشکلی نداره. یخورده خط پشتش ...
          %br
          %i مشاهده ...
    - if imgs.include? 2
      %a.ads-image{ :href => "http://www.chizmiza.com?car&#{title}", :target => '_blank' }
        %img{ :src => "/images/chizmiz2.jpg" }
        %span 
          %b دست دوم
          %br 
          قیمت ١٥٠٠٠٠٠٠ خودم صاحب دوم ماشینم ...
          %br
          %i مشاهده ...
    - if imgs.include? 3
      %a.ads-image{ :href => "http://www.chizmiza.com?table&#{title}", :target => '_blank' }
        %img{ :src => "/images/chizmiz3.jpg" }
        %span 
          %b دست دوم
          %br 
          ایده ال برای آشپزخونه زوجین ... ١٥٠٠٠٠ تومان...
          %br
          %i مشاهده ...
    - if imgs.include? 4
      %a.ads-image{ :href => "http://www.chizmiza.com?wardrobe&#{title}", :target => '_blank' }
        %img{ :src => "/images/chizmiz4.jpg" }
        %span 
          %b دست دوم
          %br 
          قیمت ٥٠٠٠٠٠ تومان ...
          %br
          %i مشاهده ...
    - if imgs.include? 5
      %a.ads-image{ :href => "http://www.chizmiza.com?music&#{title}", :target => '_blank' }
        %img{ :src => "/images/chizmiz5.jpg" }
        %span 
          %b دست دوم
          %br 
          تقریبا من ٤ ماه پیش خریدمش ...
          %br
          %i مشاهده ...
    - if imgs.include? 6
      %a.ads-image{ :href => "http://www.chizmiza.com?household&#{title}", :target => '_blank' }
        %img{ :src => "/images/chizmiz6.jpg" }
        %span 
          %b دست دوم
          %br 
          تو خونه جدیدمون لازم ندارمش ...
          %br
          %i مشاهده ...
  %p 
    %a{ :href => 'http://www.chizmiza.com?textlink', :target => '_blank' } "چیزمیزا chizmiza.com" 
    اولین سایت خرید و فروش اجناس نو و دست دوم بدون واسطه در ایران می باشد. چیزی که شما احتیاج ندارید رافع مشکل دیگران است. و چرا که نه حتی اگر ١٠٠٠ تومان هم بفروشید سود کرده اید. یا اینکه به دیگران هدیه کنید تا نیاز کسی برطرف شده باشد.
  .btn-group
    %a.btn.btn-success{ :href => 'http://www.chizmiza.com?button', :target => '_blank' } رایگان
    %a.btn.btn-success{ :href => 'http://www.chizmiza.com?button', :target => '_blank' } شروع کنید
