.box
  - unless current_user == user
    .actions
      .pulled-left
        - unless current_user.connected_with? user
          %a.btn.btn-success{ :data => { :remote => invite_path(user.id), :callback => 'talebin.core.invite' } }
            %i.icon-plus
            دعوت به دوستی
        %a.btn.btn-info{ :href => "#send-message", :role => "button", :data => { :toggle => "modal" } }
          %i.icon-envelope
          ارسال پیغام
  .row-fluid
    .span2.main-avatar
      %img.fn-avatar.img-rounded{ :src => user.avatar(:medium) }
      - if current_user == user
        %span.change-avatar.fileinput-button.btn.btn-success
          %span تغییر عکس
          %input{ :type => 'file', :name => 'avatar', :data => { :url => avatar_path(current_user.id, :format => :json), :uploader => true, :callback => 'talebin.core.avatar' } }
    .span10
      %h4
        = user.name
      %h5.blue کارت امروز شما
      %img{ :src => "/assets/cards/small/#{user.today[:card][:name]}.png" }
      %span= user.today[:card][:description]
.box.margined
  -if user.birthdate.blank?
    %h6 طالع این هفته
    %p.alert 
      طالع به علت نامعلوم بودن تاریخ تولد قابل بازخوانی نمی باشد.
      -if current_user==user
        برای تصحیح اینجا 
        %a.btn.btn-info{ :href => profile_path } کلیک کن
  -elsif user.horoscope.blank?
    %h6 طالع این هفته
    %p.alert طالع این هفته نامعلوم می باشد
  -else
    %h5 طالع این هفته #{Sign.fa user.horoscope.sign}
    %p= user.horoscope.description
    =render :partial => 'general/share', :locals => { :url => weekly_url(user.horoscope.uid)  }
- if current_user == user 
  - unless @surveys.blank?
    .box.margined
      %h5 تست های شخصیت
      =render :partial => 'surveys/demos'
-else
  .box.margined
