!!! 5
%html#page
  %head
    %title Talebin.com طالع بین
    =yield :head
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %meta{ 'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    =stylesheet_link_tag "all", :media => "all"
    =javascript_include_tag "all"
    =csrf_meta_tags
    -if Rails.env == 'production'
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11707985-5']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  %body
    .loading.fn-loading
      .loader در حال پردازش
    .menu.navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %ul.nav.nav-pills.none-mobile
            = render :partial => 'layouts/menu'
          %ul.nav.only-mobile
            %li.mobile-menu.dropdown
              %a.dropdown-toggle{ :data => { :toggle => 'dropdown' } }
                %i.icon-th-list.icon-2x.icon-flip-horizontal
              %ul.dropdown-menu
                = render :partial => 'layouts/menu'
          %ul.nav.pull-left
            -if user_signed_in?
              -@unreads = current_user.inbox.unread.all
              %li.dropdown.message
                %a.dropdown-toggle{ :data => { :toggle => 'dropdown' } }
                  %i.icon-envelope
                  %span.none-mobile پیام ها
                  %span.img-circle.new= @unreads.count
                %ul.dropdown-menu
                  %li.nav-header
                    %a
                      %i.icon-suitcase
                      پیام های دریافتی
                  -@unreads.each do |message|
                    %li
                      %a{ :href => "#{messages_path}##{message.sender_id}" }
                        %img.img-rounded{ :src => message.sender.avatar(:thumb) }
                        =message.sender.name
                        \:
                        = truncate message.body, :length => 20
                  %li.divider
                  %li
                    %a{ :href => messages_path }
                      %i.icon-comments
                      مشاهده همه پیام ها
                  %li
                    %a
                      %i.icon-pencil
                      ارسال پیام
              %li.dropdown.user
                %a.dropdown-toggle{ :data => { :toggle => 'dropdown' } }
                  %i.icon-user
                  %span.none-mobile= current_user.name
                %ul.dropdown-menu
                  %li
                    %a{ :href => home_path }
                      %i.icon-home
                      پنل کاربری
                  %li.divider
                  %li
                    %a{ :href => user_path(current_user.hid)}
                      %i.icon-eye-open
                      شما از دید دیگران
                  %li
                    %a{ :href => profile_path }
                      %i.icon-cogs
                      تغییر اطلاعات
              %li.exit{ :data => { :remote => destroy_user_session_path, :method => :delete, :callback => 'talebin.core.logout' } }
                %a
                  %i.icon-off
                  %span.none-mobile خروج
            -else
              %li.login
                %a{ :href => new_user_session_path }
                  ورود
              %li.dropdown.message
                %a.dropdown-toggle{ :data => { :toggle => 'dropdown' } }
                  %i.icon-envelope
                  %span.none-mobile پیام ها
                  %span.img-circle.new 1
                %ul.dropdown-menu
                  %li.nav-header
                    %a
                      %i.icon-suitcase
                      پیام های دریافتی
                  %li
                    %a{ :href => new_user_session_path }
                      %img.img-rounded{ :src => '/assets/noavatar-thumb.jpg' }
                      طالع بین : دوستانتان منتظر شما ..
    .container-fluid
      .row-fluid
        .header.span12
      .row-fluid
        .page
          - if notice
            .alert.alert-info= notice
          - if alert
            .alert= alert
          =yield
